:root{
  --primary-color:#4caf50;
  --secondary-color:#fff;
  --background-color:#f4f4f4;
  --card-background-color:#fff;
  --card-shadow:rgba(0,0,0,0.2);
  --padding:0.5rem;
  --margin:0.5rem;
}
body{
  background-color: var(--background-color);
  font-family: Roboto sans-serif;
  color:#333;
  margin:0;
  padding:0;
}
h1, h2 ,h3{
  color:var(--primary-color);
  font-size: 50px;
}
ul{
  list-style: none;
}
img{
  width: 300px;
  height: 300px;
}
button{
  background-color: var(--primary-color);
  color:var(--secondary-color);
  padding:0.8rem 1.6rem;
  margin: 0.8rem 0;
  border-radius: 0.8rem;
  cursor:pointer;
}
button:hover{
  background-color:#333 ;
}
textarea{
  width: 100%;
  padding:0.8rem;
  margin: 0.5rem 0;
  border-radius: 0.5rem;
  box-sizing: border-box;
}
.card{
  background-color: var(--card-background-color);
  border-radius: 0.5rem;
  box-shadow:var(--card-shadow);
  margin: 1.2rem;
  padding: 1.2rem;
}
header{
  background-color: var(--primary-color);
  color:var(--secondary-color);
  text-align: center;
  padding: 1.5rem 0;
  position:sticky;
  top:0;
}
nav ul{
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}
nav ul li{
  margin: 0 0.8rem;
}
nav ul li a{
  color: var(--secondary-color);
  text-decoration: none;
  font-weight: bold;
}
main{
  width: 100%;
  margin: 0;
  padding: 0;
}
.home{
  margin: 0;
  padding:0;
  height: 100vh;
  background-image: url(background_image_home.jpg);
  background-position: center ;
  background-repeat: no-repeat;
  background-size:cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.home__title{
  font-size: 80px;
}
.home__description{
  color: white;
  font-size: 50px;
}


#About{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color:black;
  height: 100vh;
}
#About p{
  font-size: 30px;
  color:var(--secondary-color)
}
#Projects{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  height: 100vh;

}
#Projects ul li a{
  text-decoration: none;
  color:var(--secondary-color);
  font-weight: bold;


}
#Skills{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  height: 100vh;
}
#Skills table{
  color:var(--secondary-color);
  width: 100%;
  border-collapse: collapse;
  margin: 12rem 0;
}
#Skills table,th,td{
  border: 1px solid #ddd;
  padding:0.5rem;
}
#Skills th{
  background-color: #f2f2f2;
  color:black
}
#Experience{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  height: 100vh;
}
#Experience p{
  color:var(--secondary-color);
  font-size: 30px;
}
#Contact{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center

}


footer{
  background-color: var(--primary-color);
  color: var(--secondary-color);
  text-align: center;
  padding: 0.5rem 0;
}
