:root{
  --primary-color:#4caf50;
  --secondary-color:#fff;
  --background-color:#f4f4f4;
  --card-background-color:#fff;
  --card-shadow:rgba(0,0,0,0.2);
  --padding:0.5rem;
  --margin:0.5rem;
}
body{
  background-color: var(--background-color);
  font-family: Roboto sans-serif;
  color:#333;
  margin:0;
  padding:0;
}
h1, h2 ,h3{
  color:var(--primary-color);
}
ul{
  list-style: none;
}
img{
  width: 200px;
  height: 200px;
}
button{
  background-color: var(--primary-color);
  color:var(--secondary-color);
  padding:0.8rem 1.6rem;
  margin: 0.8rem 0;
  border-radius: 0.8rem;
  cursor:pointer;
}
button:hover{
  background-color:#333 ;
}
textarea{
  width: 100%;
  padding:0.8rem;
  margin: 0.5rem 0;
  border-radius: 0.5rem;
  box-sizing: border-box;
}
.card{
  background-color: var(--card-background-color);
  border-radius: 0.5rem;
  box-shadow:var(--card-shadow);
  margin: 1.2rem;
  padding: 1.2rem;
}
header{
  background-color: var(--primary-color);
  color:var(--secondary-color);
  text-align: center;
  padding: 1.5rem 0;
}
nav ul{
  padding: 0;
  margin: 0;
}
nav ul li{
  margin: 0 0.8rem;
}
nav ul li a{
  color: var(--secondary-color);
  text-decoration: none;
  font-weight: bold;
}
main{
  width: 80%;
  margin: auto;
  padding: 1.2rem;
}
table{
  width: 100%;
  border-collapse: collapse;
  margin: 12rem 0;
}
table,th,td{
  border: 1px solid #ddd;
  padding:0.5rem;
}
th{
  background-color: #f2f2f2;
}
footer{
  background-color: var(--primary-color);
  color: var(--secondary-color);
  text-align: center;
  padding: 0.5rem 0;
}
